@import url(../../themes/colors.css);

body {
  background: var(--gradient);
  overflow-x: hidden;
}

nav {
  width: 100%;

  padding: 1.5em 2.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-links {
  width: 50em;  

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#header-links a {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: normal;
}

#header-links button {
  width: 8em;
  height: 2.5em;

  background: var(--gradient);

  font-size: 1.5rem;
}

#presentation {
  height: 42em;
  display: flex;

  padding-left: 2.5em;

  gap: 4em;
}

#presentation img {
  padding-left: 6rem;
  width: 47em;
  height: 40em;
}

#presentation-text {
  display: grid;
  max-height: 36em;
}

#presentation-text h1 {
  grid-area: 1 / 1 / 2 / 3;
  width: 8em;

  font-size: 8rem;
}
#presentation-text h2 {
  grid-area: 2 / 1 / 3 / 2;
  width: 20em;
  
  font-size: 1.8rem;
  font-weight: 700;
}
#presentation-text p {
  grid-area: 3 / 1 / 3 / 2;
  width: 35em;
  height: auto;


  font-size: 1.2rem;
  font-weight: 300;
}
#presentation-text img {
  width: 30rem;
  height: 30rem;

  position: absolute;
  top: 23rem;
  left: 40rem;
}